#footer {
    background: #404040;
    padding: 0 0 2px 0;
    color: #fff;
    font-size: 14px;
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#footer .copyright {
    text-align: center;
    padding-top: 1px;
}
